# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true


[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4
line_length=120
known_third_party=bleach,magic,factory,bs4,ipware,responses,requests,nose
multi_line_output=0
lines_after_imports=2
known_django=django
known_is_core=is_core
known_chamber=chamber
known_germanium=germanium
known_mailer=mailer
known_piston=piston
known_reversion=reversion
known_security=security
known_ats_sms_operator=ats_sms_operator
known_sender=sender
known_users=users
sections=FUTURE,STDLIB,THIRDPARTY,DJANGO,IS_CORE,CHAMBER,GERMANIUM,MAILER,PISTON,REVERSION,SECURITY,ATS_SMS_OPERATOR,SENDER,USERS,FIRSTPARTY,LOCALFOLDER

[*.{html,sass}]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

# Tab indentation (no size specified)
[*.coffee]

[*.md]
trim_trailing_whitespace = false
